<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New setcity</title>
</head>
<body>
    <div align="center">
        <h1>Create New Product</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${setcity}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Infraction:</td>
                    <td><input type="file" size="50" th:field="*{infraction}" /></td>
                </tr>
                <tr>
                    <td>Compteur:</td>
                    <td><input type="text" th:field="*{compteur}" /></td>
                </tr>
                <tr>
                    <td>Montant:</td>
                    <td><input type="text" th:field="*{montant}" /></td>
                </tr>
                                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>